errors.log
data/
results/
scripts/pull_fly_logs.sh

# Clojure
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.nrepl-port
.cpcache/
.lsp/
.clj-kondo/

# Clojurescript
out/
node_modules/
.shadow-cljs/

# Intellij / Cursive
.idea/
ga-clj.iml

# VS Code / Calva
*.code-workspace
.calva/
.vscode/

# OS
*~
.DS_Store
